<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="by.kirich1409.grsuschedule"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".ScheduleApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/app_backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.GrSUSchedule.Drawer"
        tools:ignore="UnusedAttribute"
        >

        <activity
            android:name=".schedule.ScheduleActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>

                <data android:host="mf.grsu.by"/>
                <data android:host="grsu.by"/>
                <data android:host="fbe.grsu.by"/>
                <data android:host="mil.grsu.by"/>
                <data android:host="psf.grsu.by"/>
                <data android:host="ftf.grsu.by"/>
                <data android:host="ffc.grsu.by"/>
                <data android:host="phf.grsu.by"/>
                <data android:host="art.grsu.by"/>
                <data android:host="fp.grsu.by"/>
                <data android:host="fbt.grsu.by"/>
                <data android:host="fh.grsu.by"/>
                <data android:host="lf.grsu.by"/>
                <data android:host="fit.grsu.by"/>
                <data android:host="fem.grsu.by"/>

            </intent-filter>
        </activity>

        <activity
            android:name=".preference.ModeChooserActivity"
            android:label="@string/activity_label_mode_chooser"
            android:theme="@style/Theme.GrSUSchedule"
            />

        <activity
            android:name=".student.GroupPickerActivity"
            android:label="@string/activity_label_group_picker"
            android:theme="@style/Theme.GrSUSchedule"
            />

        <activity
            android:name=".student.GroupChooserActivity"
            android:label="@string/activity_label_group_picker"
            />

        <activity
            android:name=".teacher.TeacherPickerActivity"
            android:label="@string/activity_label_teachers"
            android:theme="@style/Theme.GrSUSchedule"
            />

        <activity
            android:name=".teacher.TeacherListActivity"
            android:label="@string/activity_label_teachers"
            />

        <activity
            android:name=".preference.AppSettingsActivity"
            android:label="@string/settings"
            android:theme="@style/Theme.GrSUSchedule.Popup"
            />

        <activity
            android:name=".lesson.AlinementLessonActivity"
            android:theme="@style/Theme.GrSUSchedule.Popup"
            />

        <activity
            android:name=".appinfo.AppInfoActivity"
            android:label="@string/activity_label_app_info"
            />

        <activity
            android:name=".favourite.FavouritesActivity"
            android:label="@string/activity_label_favourite"
            />

        <activity
            android:name=".lesson.LessonActivity"
            android:label="@string/activity_label_lesson"
            android:theme="@style/Theme.GrSUSchedule.Popup"
            />

        <service
            android:name=".network.ScheduleSpiceService"
            android:exported="false"
            />

        <provider
            android:name=".db.ScheduleContentProvider"
            android:authorities="@string/schedule_provider_authority"
            android:exported="false"
            />

    </application>

</manifest>
